logging:
  level:
    org:
      springframework:
        ai:
          chat:
            client:
              advisor: debug
spring:
  application:
    name: open-ai-app
  ai:
    openai:
      api-key: ${OPEN_API_KEY}
